# 環境変数ファイル
# 自分の環境に合わせた値を入力してください

API_SERVER=http://api.next-engine.org/
BASE_SERVER=https://base.next-engine.org/

# プラットフォームのIDとパスワード
LOGIN_ID=
LOGIN_PASSWORD=

# アプリのクライアントIDとクライアントシークレット(このアプリでAPIを実行したことにします)
CLIENT_ID=
CLIENT_SECRET=